@use "globals" as *;
.banner {
  @include laptop {
    position: relative;
  }
}

.banner__area {
  position: relative;
  height: 600px;
  @include laptop {
    height: fit-content;
    position: unset;
  }
}

.banner__title {
  text-transform: uppercase;
  padding-top: 106px;
  @include tablet {
    padding-top: 214px;
  }
}
.banner__button {
  margin-top: 32px;
}

.banner__image {
  z-index: -1;
  position: absolute;
  left: 500px;
  top: 0;
  height: 100%;
  object-fit: cover;
  @include desktop {
    left: 150px;
  }
  @include laptop {
    left: 0;
    height: 236px;
    width: 100%;
  }
}
