@use "globals" as *;
.create {
  padding: 75px 0 120px;
  @include laptop {
    padding: 50px 0 75px;
  }
}

.create__area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 208px;
  @include desktop {
    left: 150px;
    gap: 150px;
  }
  @include laptop {
    grid-template-columns: 1fr;
    gap: 32px;
  }

}
.create.arch-buro {
  .create__area {
    gap: 100px;
  }
  .create__image {
    width: 100%;
  }
}

.create__image {
  @include laptop {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}
.create__info {
  margin-top: 65px;
  @include laptop {
    margin-top: 0;
  }
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 0 0;
  box-sizing: border-box;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 447px;
    background-color: rgba(240, 214, 185, 1);
    @include laptop {
      width: 100%;

    }
  }
  @include laptop {
    padding: 32px 0 0;
    gap: 16px;
  }
}

.info__title {
}

.info__text {
}

.info__button {
}


.our-services {
}

.our-services__area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  @include laptop {
    grid-template-columns: 1fr;
  }
}

.our-services__info {
}

.our-services__img {
}