@use "globals" as *;

.footer {
  padding: 64px 0;
}

.container {
}

.footer__area {
  display: grid;
  grid-template-columns: 166px 1fr 300px ;
  gap: 100px;
  justify-content: space-between;
  @include laptop {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.footer__logo {
 img {
   width: 100%;
   @include laptop {
     width: 216px;
   }
 }
}

.logo {
}

.footer__menu {

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  @include laptop {
    grid-row: 3;
    grid-template-columns: 1fr;

  }
}

.footer__menu-block {
  display: flex;
  flex-direction: column;

}

.footer-title {
}

.footer__menu-item {
  display: inline-block;
  margin: 0;
  text-decoration: none;
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none !important;
  display: flex;
  flex-direction: column;
  gap: 12px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none !important;
  }

  li,
  > li,
  .menu-item {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    list-style-type: none !important;
  }

  li::marker,
  > li::marker,
  .menu-item::marker {
    content: "";
  }
}

.footer__contact {
  display: flex;
  flex-direction: column;
}

.footer-number {
  margin-bottom: 12px;
}

.footer-mail {
  margin-bottom: 12px;
}

.social {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social__item {
}
