.header {
  padding: 36px 0;
}

.header__area {
  display: flex;
  align-items: center;
}

.logo {
}

.menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 100px;
  font-style: Regular;
  font-size: 18px;
  text-transform: uppercase;
}

.menu__item {
}

.number {
  margin-left: 80px;
  color: rgba(244, 177, 102, 1);
  font-style: Semi Bold;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}