.front {
}

.container {
}
.header-area {
  display: flex;
  flex-direction: column;
}
.navigation {
  display: flex;
  justify-content: space-between;

}

.logo {
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu__item {
  &:hover {

  }
}

.name {
}

.titler {
  font-size: 270px;
  font-weight: 300;
  line-height: 150%;
}

.sub-info {
}

.sub-info__slogan {
}

.sub-info__area {
}

.sub-info__item {
}