.services {
  color: black;

}

.services__topper {
  position: relative;
  border-radius: 60px;
  background-color: rgba(0, 0, 0, 0.1);
}

.container {
}

.services__head {
  align-items: center;
  margin-bottom: 48px;
}

.services__title {
}

.blue-title {
}

.services__slogan {
}



.services__area {
  position: relative;
  z-index: 2;
}

.services__item {
  padding: 28px;
  border-radius: 30px;
  margin-bottom: 12px;
}
.services__item-head {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0px;

}
.services__item-body {

  .elem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
  }
  p {
    margin-bottom: 8px;
  }
}
.services__bg-1 {
  position: absolute;
  left: 100px;
  top: 171px;

}
.services__bg-2 {
  position: absolute;
  right: 172px;
  top: 250px;

}
.services__bg-3 {
  position: absolute;
  left: 5px;
  top: 719px;

}
.services__bg-4 {
  right: -70px;
  bottom: -30px;
  position: absolute;

}