body {
  font-family: $onest;
  overflow-x: hidden;
  width: 100vw;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0px;
}
.block-head {
  margin-bottom: 50px;
}
.grid-2 {
  display: grid;
  grid-template-columns: 332px 1fr;
  gap: 40px;

}
.big-slogan {
  color: $dark;
  font-size: 42px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}
.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blue-title {
  color: rgba(56, 101, 248, 1);
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0px;
}
.button {
  cursor: pointer;
  height: 60px;
  padding: 0 60px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  transition: all 0.2s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0);
}

.button-blue {
  color: white;
  background-color: rgba(56, 101, 248, 1);
  &:hover {
    background-color: $dark;
  }
  &:active {
    background-color: rgba(32, 32, 32, 0.9);
  }
}

.button-blue-stroke {
  color: $blue;
  border: 1px solid rgba(56, 101, 248, 1);
  svg path {
    stroke: $blue;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    background-color: $blue;
    color: white;
    svg path {
      stroke: white;
    }
  }
  &:active {
    background-color: $blue;
    svg path {
      stroke: white;
    }
  }
}
.padding-block {
  padding: 80px 0;
}
.button-black {
  color: white;
  border: 1px solid rgba(56, 101, 248, 0);
  background-color: $dark;
  svg path {
    stroke: white;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    background-color: white;
    color: $blue;
    svg path {
      stroke: $blue;
    }
  }
  &:active {
    background-color: white;
    color: $blue;
    svg path {
      stroke: $blue;
    }
  }

}

.button-white-stroke {
  color: white;
  border: 1px solid white;
  &:hover {

  }
  &:active {

  }
}


input {
  padding: 20px 32px;
  border-radius: 100px;
  border: 1px solid rgba(32, 32, 32, 0.6);
  color: rgba(32, 32, 32, 1);
  font-size: 28px;
  font-weight: 400;
  line-height: 150%;
  &:hover {
    border: 1px solid rgba(32, 32, 32, 0.6);
  }
  &:focus {
    border: 1px solid rgba(56, 101, 248, 1);
  }
  &::placeholder {
    color: rgba(32, 32, 32, 0.8);
    font-size: 28px;
    font-weight: 400;
    line-height: 150%;
  }
  &.white {
    border: 1px solid white;
    color: white;
    opacity: 0.5;

  }
  &.white::placeholder {
    color: white;

  }
  &.white:hover {
    opacity: 0.8;
  }
  &.white:focus {
    opacity: 1;
  }
}
input.error {
    border: 1px solid rgba(224, 58, 21, 1);
}

