@use "globals" as *;

body {
  color: white;
  font-family: $inter;
  font-weight: 400;
  width: 100vw;
  overflow-x: hidden;
  background: rgba(27, 27, 27, 1);
  letter-spacing: 0%;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  @include max(1400px) {
    padding: 0 20px;
  }
}
.button {
  cursor: pointer;
  padding: 18px 24px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  width: fit-content;
  @include tablet {
    font-size: 12px;
    padding: 10px 20px;
  }
}
.button-main {
  background: rgba(244, 177, 102, 1);
  &:hover {
    background: rgba(240, 214, 185, 1);
  }
}
.button-stroke {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 1);
  background: rgba(27, 27, 27, 1);
  color: white;
  path {
    stroke: white;
  }
  &:hover {
    color: black;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 1);
    background: rgba(240, 214, 185, 1);
    path {
      stroke: black;
    }
  }
}
h1 {
  font-size: 60px;
  line-height: 72px;
  @include laptop {
    font-size: 30px;
    line-height: 35.82px;
  }
}
h2 {
  font-size: 48px;
  line-height: 58px;
  @include laptop {
    font-size: 20px;
    line-height: 25px;
  }
}
h3 {
  font-size: 40px;
  line-height: 48px;
  @include laptop {
    font-size: 20px;
    line-height: 25px;
  }
}
.block-title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  margin-bottom: 30px;
  @include laptop {
    font-size: 20px;
    line-height: 25px;
  }
}
.block-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  @include laptop {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }
}
.padding {
  padding-bottom: 120px;
  @include laptop {
    padding-bottom: 60px;
  }
}
.mini-padding {
  padding-bottom: 40px;
  @include laptop {
    padding-bottom: 20px;
  }
}
.margin {
  margin-bottom: 120px;
  @include laptop {
    margin-bottom: 60px;
  }
}
.mini-margin {
  margin-bottom: 40px;
  @include laptop {
    margin-bottom: 20px;
  }
}