.why {
  position: relative;
  color: white;
}

.why__topper {
  position: relative;
  background-color: $dark;
  border-radius: 60px 60px 0px 0px;
}


.why__head {
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
}



.why__title {
}


.why__slogan {
  color: white;
}



.why__area {
  position: relative;
  z-index: 2;
}

.why__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

}

.why__item {
  padding: 28px;
  border-radius: 30px;
  background: rgb(59,59,59);
}

.why__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 48px;
}

.why__item-name {
  font-size: 20px;
  margin-bottom: 16px;
}

.why__item-text {
}
.why__bg {
  position: absolute;
  bottom: -150px;

}